@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About";
}
<!DOCTYPE>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" , initial-scale="1" />
    <title>MuseMate</title>
    <link rel="stylesheet" href="~/css/mainhome.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/aboutme.css" asp-append-version="true" />
</head>
<body>
    <main>
        <section class="about">
            <div>
                <h1>About-Me</h1>
                <img src="~/pic/my pic.jpeg" alt="Khasim" />
                <p>
                    MuseMate is a dedicated platform for poetry enthusiasts to express their creativity through verse. Unlike 
                    traditional blogs, MuseMate is exclusively designed for poets to share their thoughts, emotions and
                    experiences through carefully crafted poems. Whether you are a seasoned poet or just starting out, MuseMate
                    welcomes all forms of poetic expression. Join our community of wordsmiths and immerse yourself in the
                    beauty of poetry.
                </p>
            </div>

        </section>
    </main>
</body>
</html>

