@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width", initial-scale="1"/>
        <title>MuseMate</title>
    <link rel="stylesheet" href="~/css/mainhome.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/setupping.css" asp-append-version="true" />
    </head>
    <body>
        <main>
            <section class="intro">
                <div>
                    <h1 class="intro-h1">Welcome to MuseMate!!!</h1>
                <p><h2>Sanctuary for poetic expression</h2></p>
                <p class="para">At MuseMate, we believe in the transformative power of poetry. Our platform provides
                    a nurturing space for poets of all levels to share their words,connect with fellow creatives,and find the 
                    inspiration in a supportive community.</p>
                </div>
                
            </section>
            <section class="grid-pic">
                <h2>Poetry</h2>
                
                <div class="gridding">
                    <a href="~/pic/poem1.jpeg" class="poem-pic">
                        <img src="~/pic/poem1.jpeg" />
                        <div class="pic-hover">Read poem</div>
                    </a>
                    <a href="~/pic/poem2.jpeg" class="poem-pic">
                        <img src="~/pic/poem2.jpeg" />
                        <div class="pic-hover">Read poem</div>
                    </a>
                    <a href="~/pic/poem3.jpeg" class="poem-pic">
                        <img src="~/pic/poem3.jpeg" />
                        <div class="pic-hover">Read poem</div>
                    </a>
                    <a href="~/pic/poem4.jpeg" class="poem-pic">
                        <img src="~/pic/poem4.jpeg" />
                        <div class="pic-hover">Read poem</div>
                    </a>
                    <a href="~/pic/poem5.jpeg" class="poem-pic">
                        <img src="~/pic/poem5.jpeg" />
                        <div class="pic-hover">Read poem</div>
                    </a>
                    <a href="~/pic/poem6.jpeg" class="poem-pic">
                        <img src="~/pic/poem6.jpeg" />
                        <div class="pic-hover">Read poem</div>
                    </a>
                    <a href="~/pic/poem7.jpeg" class="poem-pic">
                        <img src="~/pic/poem7.jpeg" />
                        <div class="pic-hover">Read poem</div>
                    </a>
                    <a href="~/pic/poem8.jpeg" class="poem-pic">
                        <img src="~/pic/poem8.jpeg" />
                        <div class="pic-hover">Read poem</div>
                    </a>
                    <a href="~/pic/poem9.jpeg" class="poem-pic">
                        <img src="~/pic/poem9.jpeg" />
                        <div class="pic-hover">Read poem</div>
                    </a>
                    <a href="~/pic/poem10.jpeg" class="poem-pic">
                        <img src="~/pic/poem10.jpeg" />
                        <div class="pic-hover">Read poem</div>
                    </a>
                    <a href="~/pic/poem11.jpeg" class="poem-pic">
                        <img src="~/pic/poem11.jpeg" />
                        <div class="pic-hover">Read poem</div>
                    </a>
                    <a href="~/pic/poem12.jpeg" class="poem-pic">
                        <img src="~/pic/poem12.jpeg" />
                        <div class="pic-hover">Read poem</div>
                    </a>
                    <a href="~/pic/poem13.jpeg" class="poem-pic">
                        <img src="~/pic/poem13.jpeg" />
                        <div class="pic-hover">Read poem</div>
                    </a>
                    <a href="~/pic/poem14.jpeg" class="poem-pic">
                        <img src="~/pic/poem14.jpeg" />
                        <div class="pic-hover">Read poem</div>
                    </a>
                    <a href="~/pic/poem15.jpeg" class="poem-pic">
                        <img src="~/pic/poem15.jpeg" />
                        <div class="pic-hover">Read poem</div>
                    </a>
                </div>
            
            </section>
            <section id="details" class="section-details">
                <h2>
                    Please enter your details
                </h2>
                <form method="post" autocomplete="on">
                    <div class="name-mail">
                        <div class="column-form">
                            <label for="name">Name</label>
                            <input type="text" name="Name" id="name"/>
                        </div>

                        <div class="column-form">
                            <label for="email">Email</label>
                            <input type="email" name="Email" id="email" />
                        </div>
                    </div>
                    <label></label>
                    <input type="submit" value="Submit"  class="button"/>
                </form>
            </section>
        </main>
    </body>
</html>
