@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<link rel="stylesheet" href="~/css/privacysheet.css" asp-append-version="true" />
<p>Use this page to detail your site's privacy policy.</p>
<main>
    <section>
        <h2>Contact Me</h2>
        <div>
            <p>
                Email: musemate07@yahoo.com<br/>
                At MuseMate, we are commited to protecting your privacy and ensuring the security of your personal information.
                This Privacy policy outlines the types of information we collect, how we use it, and the measures we take to
                safeguard your data.<br />
                Information we collect:
                <ul>
                    <li>Personal Information</li>
                    <li>Usage Data</li>
                    <li>Cookies</li>
                </ul>
                <br />
             How we use your information:
                <ul>
                    <li>Personalization</li>
                    <li>Communication</li>
                    <li>Analytics</li>
                </ul>
              <br />
                By using MuseMate, you consent to the collection and use your information as described in this privacy policy.<br /> 
            </p>
        </div>
    </section>
</main>
